.sc-title{
  color: rgb(219, 142, 25);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-color: #F0F2F5 !important;
}
.form-area{
  background-color: #FFFFFF;
  border-radius: 8px;
}
.reg-button{
  background-color: #36A420 !important;
}

@media (min-width: 992px) {
  .header{
    margin-top: 50px !important;
  }
  .mainContent{
    margin-top: 144px !important;
  }
}